.no-scrollbar::-webkit-scrollbar {
  display: none;               
}

.marquee-track {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%; 
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}